.game-page{
    display: flex;
    gap: 10px;
    font-size: 20px;
    font-weight: 500;
    color: rgb(61, 74, 83);
    height: 100vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(238,174,202);
    background: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(139,175,217,1) 100%);
}
.game-page h1{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.question{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 15px;

}
.options{
    display: flex;
    gap: 5px;
}
.options button{
    padding: 5px 15px; 
    border: 1px solid #baaeae;
    border-radius: 2px;
    background-color: rgb(202, 208, 212);
}