.home-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-size: cover;
  margin-top: 15%;
  
}

h1 {
  font-family: 'Lucida Sans', 'Lucida Grande', Geneva, Verdana, sans-serif;
  font-weight: 700;
  text-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  font-size: 3rem;
  color: #FFFFFF;
}

.timer-selection, .difficulty-selection {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 12%;
  color: white;
}

.difficulty-card{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.difficulty-images{
  display: flex;
  gap: 100px;
  margin-top: 20px;
}
.timer-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  gap:100px;
}

.timer-btn, .diff-btn {
  padding: 10px 20px;
  border: 2px solid #b700ff;
  border-radius: 5px;
  background-color: rgb(202, 208, 212);
  font-size: 20px;
  transition: all 0.3s ease;
  color:black;
  cursor: pointer;
  flex: 1;
}
.timer-btn:hover{
  color: white;
}

.timer-btn.selected, .diff-btn.selected {
  background-image: linear-gradient(180deg,#adb4f0,#a45fe0);
  color: #FFFFFF;
  transform: scale(1.1);
}

/* Add this rule to set image size */
.dif-img {
  width: 100px; /* Adjust the width as needed */
  height: auto; /* Maintain aspect ratio */
  cursor: pointer;
  border-radius: 10px;
  transition-property: transform;
  transition-duration: 1s;
}

.dif-img:hover{
  animation-name: rotate; 
  animation-duration: 1s; 
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotate {
  from {transform: rotate(0deg);}
  to {transform: rotate(360deg);}
}

.difficulty-label{
  color: white !important;
  margin: 10px 0;
  font-size: 17px;
  font-weight: 500;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: rgb(49, 46, 46);
}

.diff-title{
  color: white !important;
  font-size: 20px;
  font-weight: 600;
  color: rgb(49, 46, 46);
}

.start-button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #FA7070;
  font-size: 20px;
  color: #FFFFFF;
  cursor: pointer;
  border-radius: 50px;
  background-image: linear-gradient(180deg,#7c8aff,#812acd);
  box-shadow: 0 4px 11px 0 rgb(37 44 97 / 15%), 0 1px 3px 0 rgb(93 100 148 / 20%);
  transition: all .2s ease-out;
  margin-top: 20px;
}

.start-button:hover {
  background-color: #eb5353;
  transform: scale(1.1);
}
