/* Global Styles */
body {
  font-family: 'Arial', sans-serif;
  background-color: #f7f8fc;
  margin: 0;
  padding: 0;
  transition: all 0.3s ease;
}

/* Main Game Container */
.game1 {
  max-width: 800px;
  margin: 50px auto;
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  position: relative;
}

h1 {
  color: #4a4a4a;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  border-bottom: 2px solid #e1e1e1;
  padding-bottom: 15px;
}

.game-container {
  display: flex;
  flex-direction: column-reverse;
  gap: 20px;
  margin-bottom: 20px;
}

/* Questions Container */
.questions {
  background-color: #f9f9f9;
  padding: 15px;
  border-radius: 8px;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

.questions p {
  margin: 0 0 10px;
  color: #555;
}

.game-completed {
  text-align: center;
  color: #3cb371;
  font-weight: bold;
  font-size: 20px;
  margin-top: 15px;
}

/* Images for Drag and Drop */
.images {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.image-container1 {
  width: 120px;
  height: 120px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s ease-in-out;
  cursor: grab;
}

.image-container1:active {
  transform: scale(1.1);
  cursor: grabbing;
}

img {
  max-width: 100%;
  border-radius: 8px;
}

/* Target Area for Drop */
.target {
  padding: 20px;
  background-color: #E5E5E5;
  border-radius: 8px;
  text-align: center;
  margin-top: 20px;
  transition: background-color 0.3s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.target.valid {
  background-color: #98fb98;
  color: #fff;
}

.target:hover {
  background-color: #D5D5D5;
}

/* Game Control Buttons */
.game-buttons {
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
}

button {
  padding: 10px 25px;
  border: none;
  border-radius: 25px;
  background-color: #4a4a4a;
  color: #fff;
  cursor: pointer;
  font-size: 16px;
  transition: background-color 0.3s ease-in-out, transform 0.2s ease-in-out;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.05);
}

button:hover {
  background-color: #333333;
  transform: translateY(-3px);
}

button:active {
  transform: translateY(1px);
}

.reset-button, .home-button {
  display: flex;
  align-items: center;
  gap: 5px;
}

/* DarkTheme.css */
.dark-theme {
  background-color: #121212;
  color: #ffffff;
}

/* LightTheme.css */
.light-theme {
  background-color: #ffffff;
  color: #000000;
}

