  

  .profile__main{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .profile__info{
    color: white;
    font-size: 22px;
    text-align: center;
    font-weight: 600;
    margin-top: 20px;
  }


  .info > p {
    background-color: #fff;
    display: flex;
    gap: 20px;
    padding: 0.5rem 1rem;
    margin: 0.5rem 0;
    border-radius: 5px;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.1);
    text-align: start;
  }
  .info > p > b{
    width: 50%;
  }
  .info > p > div{
    width: 50%;
  }
  .info{
    color:black;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  