.home-page-main{
    display: flex;
    flex-direction: column;
}
.home-page{
    width: 100vw;
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: rgb(61, 74, 83);
}
.home-page h1{
    color: white;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 400;
}
.demo-button{
    padding: 10px 20px;
    
}

.start-button{
    padding: 5px 20px;
    border: 1px solid #baaeae;
    border-radius: 5px;
    background-color: rgb(181, 219, 243);
}
.start-button:hover{
    background-color: rgb(147, 187, 211);
}

.difficulty-dialog{
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    margin-top: 20px;
}
.difficulty-dialog h2{
    font-weight: 400;
    font-size: 18px;
}
.difficulty-buttons{
    display: flex;
    gap: 5px;
}
.diff-btn{
    padding: 5px 20px;
    color: aliceblue;
    border: 1px solid #baaeae;
    border-radius: 5px;
    font-family:Georgia, 'Times New Roman', Times, serif;
}
.easy-btn{
    background-color: rgba(25, 145, 25, 0.731);
}
.easy-btn:hover{
    background-color: rgba(25, 145, 25, 0.822);
}
.medium-btn{
    background-color: rgba(135, 135, 39, 0.694);
}
.medium-btn:hover{
    background-color: rgba(135, 135, 39, 0.806);
}
.hard-btn{
    background-color: rgba(159, 30, 30, 0.747);
}
.hard-btn:hover{
    background-color: rgba(159, 30, 30, 0.895);
}

/* Add these styles to your CSS file (e.g., HomePage.css) */

.demo-popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.7); /* Semi-transparent background overlay */
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999; /* Ensure it's above other content */
  }
  
  .demo-popup {
    background: #5d5662;
    position: relative;
    color: white;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    max-width: 1000px;
    width: 80%;
    padding: 20px;
    display: flex;
  }
  .demo-popup ul li p{
    background-color: #5e5662;
    color: white;
    border: none;
    box-shadow: none;
  }
  
  .close-button {
    position: absolute;
    background-color: white !important;
    border-radius: 4px;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
  }
  
  .demo-left-panel {
    flex: 1;
    padding: 20px;
  }
  
  .demo-right-panel {
    flex: 1;
    padding: 10px;
  }
  
  h2 {
    font-size: 18px;
    margin-bottom: 10px;
  }
  
  p {
    font-size: 16px;
    line-height: 1.25;
  }
